[submodule "rinari"]
	path = rinari
	url = git@github.com:kkudryavtsev/rinari.git
[submodule "rhtml"]
	path = rhtml
	url = git://github.com/eschulte/rhtml.git
[submodule "coffee-mode"]
	path = coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule "helm"]
	path = helm
	url = git://github.com/emacs-helm/helm.git
