backup/
backups/
ac-comphist.dat
auto-save-list/
el-get/*
.project-roots
my-local-macros.el
url/
tramp
eshell
projectile*
elpa/
*.elc
ido.last
.DS_Store
eln-cache/
history
network-security.data
places
recentf
transient/
lisp.bak/
