backup/
ac-comphist.dat
auto-save-list/
el-get/*
.project-roots
my-local-macros.el
url/
tramp
eshell
projectile*
elpa/
*.elc
ido.last
elpa/archives
/elpa/archives/gnu/archive-contents
/elpa/archives/gnu/archive-contents.signed
/elpa/archives/marmalade/archive-contents
/elpa/archives/melpa-stable/archive-contents
/elpa/archives/melpa/archive-contents
